/* Présentation du site - Accueil */
section#home {
    background: url(../../img/background/wave.svg), linear-gradient(180deg, rgba(21,101,192,1) 0%, rgba(54,128,203,1) 35%, rgba(110,179,231,1) 100%);
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 20rem;
    padding-top: 8.5rem;
}
section#home .content-adjust tr td {
    width: 50%;
}
section#home .content-adjust tr td:first-child {
    text-align: center;
}
section#home .content-adjust tr td h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    color: white;
    font-weight: 500;
}
section#home .content-adjust tr td h1 b {
    font-weight: 800;
}
section#home .content-adjust tr td p {
    line-height: 1.5;
    color: white;
    font-weight: 300;
    text-align: justify;
}
/* Présentation des intégrateurs - Accueil */
#photo-nico, #photo-ghali  {
    width: 250px;
    height: 250px;
}
section#presentation {
    padding-bottom: 5rem;
}
section#presentation td, section#presentation tr, section#presentation a {
    display: inline-block;
}
section#presentation table.content-adjust {
    text-align: center;
}
section#presentation table.content-adjust tr td {
    text-align: center;
    width: 40%;
}
section#presentation table.content-adjust tr td:nth-child(1) {
    margin-right: 5%;
}
section#presentation table.content-adjust tr td:nth-child(2) {
    margin-left: 5%;
}
section#presentation table.content-adjust tr td p{
    text-align: justify;
}
section#presentation img {
    border-radius: 50%;
}
/* Composant Bouton */
section#presentation a.btn-link {
    padding: 1rem;
    margin: 0.5rem;
    background-color: var(--primary);
    width: 200px;
    border-radius: 3px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition: 0.25s;
}
section#presentation a.btn-link:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.8);
}