footer {
    background-color: #e2e2e2;
}
footer td {
    display: inline-block;
}
footer table.content-adjust {
    text-align: center;
    padding: 1rem 0 3rem 0;
}
footer table.content-adjust ul, footer table.content-adjust h3 {
    text-align: left;
}
footer table.content-adjust ul {
    margin: 0;
    padding: 0;
}
footer table.content-adjust ul li {
    list-style: none;
}
footer table.content-adjust ul li a{
    text-decoration: none;
    color: #666;
    transition: 0.25s;
    line-height: 1.75;
}
footer table.content-adjust ul li a:hover{
    color: #aaa;
   
}
footer table.content-adjust td:not(#arrow-up) {
    width: 30%;
    margin: auto;
    vertical-align: top;
}
/* Flèche de retour en haut de la page */
footer table.content-adjust td#arrow-up {
    border: 1px solid #bbb;
    padding: 0.5rem;
    border-radius: 50%;
    transition: 0.25s;
    cursor: pointer;
    position: relative;
    top: 4rem;
}
footer table.content-adjust td#arrow-up img {
    float: right;
}
footer table.content-adjust td#arrow-up:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.8);
}