/* Enlever le formatage standard des navigateurs */
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    color: #444;
}
main p, p{
    line-height: 1.5;
}
/* Classe permettant d'ajuster le contenu */
.content-adjust {
    width: 75%;
    margin: auto;
}
/* Régler les icones */ 
.icon:not(div) {
    float: left; 
    padding-right: 0.3rem;
}